body {
  background-color: #e3e3e3;

}

h1, h2{
  font-size: 150px;
  font-family: 'IM Fell Great Primer SC', serif;
  font-weight: 300;
}

h2{
  font-size: 50px;
}

img{
  height: 500px;
}

.main {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  border: 5px solid red;
  
}

.tittle{
  width: 500px;
height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;

  border: 7px solid blue;
}

.port-foto{
  border: 7px solid green;
  width: 500px;
  height: 500px;
  display:flex;
  justify-content: center;
  align-items: center;
}